<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web2Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script>
        function Nesto() {
            
            //return window.location.href = "/Authentication/LogOutGoogle";
        }
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Authentication" asp-action="Index">Web2Project</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @if (ViewBag.korisnik.LogedIn)
                        {
                            @if (ViewBag.korisnik.Verifikovan == Zahtev.PRIHVACEN)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="MojNalog" asp-action="Index">Moj Nalog</a>
                                </li>
                            }
                            @if (ViewBag.korisnik.TipKorisnika == Tip.ADMINISTRATOR)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Administrator" asp-action="DodajProizvod">Dodaj proizvod</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Administrator" asp-action="DodajKategoriju">Dodaj kategoriju</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Administrator" asp-action="Verifikuj">Verifikuj dostavljace</a>
                                </li>
                            }
                            else if (ViewBag.korisnik.TipKorisnika == Tip.DOSTAVLJAC)
                            {
                                if (ViewBag.korisnik.Verifikovan == Zahtev.PRIHVACEN)
                                {
                                    <li class="nav-item">Nove porudzbine</li>
                                    <li class="nav-item">Moje porudzbine</li>
                                    <li class="nav-item">Trenutna porudzbina</li>
                                }
                            }
                            else
                            {

                            }
                            if (ViewBag.korisnik.Google)
                            {   
                                <li class="nav-item">
                                    @*<a class="nav-link text-dark" href="#" temp_href="#" id="logoutText" target='myIFrame' onclick="myIFrame.location = 'https://www.google.com/accounts/Logout'; return false;">Odjavi se</a>
                                    <iframe name='myIFrame' id="myIFrame" style='display:none'></iframe>*@
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="LogOutGoogle">Odjavi se</a>                                                      
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Logout">Odjavi se</a>
                                </li>
                            }

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Web2Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
