@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



@if (ViewBag.korisnik.Verifikovan == Zahtev.PROCESIRA_SE)
{
    <label> Vas nalog se jos uvek procesuira, administrator ce obraditi Vas zahtev u najkracem mogucem roku! </label >
}
else if (ViewBag.korisnik.Verifikovan == Zahtev.PRIHVACEN)
{
    <label>@ViewBag.korisnik.KorisnickoIme uspesno ulogovan! </label>
    <label>Vas profil je verifikovan, mozete poceti sa radom!</label>
}
else
{
    <label><font color="Red">Vas nalog je odbijen od strane administratora, ne mozete koristiti usluge naseg sistema!</font></label>
}
